[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymango = "*"
django-cors-headers = "*"
mysqlclient = "*"
pyngrok="5.0.5"

[dev-packages]

[requires]
python_version = "3.12"
